[buildout]
always-checkout = force
auto-checkout =
    Plone
    plone.app.content
    plone.app.contentrules
    plone.app.controlpanel
    plone.app.contenttypes
    plone.app.event
    plone.app.jquerytools
    plone.app.layout
    plone.app.linkintegrity
    plone.app.locales
    plone.app.portlets
    plone.app.registry
    plone.app.testing
    plone.app.upgrade
    plone.app.users
    plone.i18n
    plone.portlet.collection
    Products.ATContentTypes
    Products.Archetypes
    Products.CMFPlone
    Products.PloneTestCase
    Products.TinyMCE
# Test fixes only
    Products.CMFCalendar
    Products.CMFDefault
    plone.app.redirector
    plone.app.workflow
    plone.stringinterp
    archetypes.schemaextender


# Code analysis fixes only
