[buildout]
always-checkout = force
auto-checkout =
    Plone
    plone.app.controlpanel
    plone.app.jquerytools
    plone.app.locales
    plone.app.portlets
    plone.app.upgrade
    Products.ATContentTypes
    Products.CMFPlone
    Products.TinyMCE
    plone.app.contentrules
    plone.app.registry
    plone.app.testing
    plone.app.users
# Test fixes only
    Products.CMFCalendar
    Products.CMFDefault
    plone.app.redirector
    plone.stringinterp
