[buildout]
always-checkout = force
auto-checkout =
    Plone
    Products.ATContentTypes
    Products.CMFDynamicViewFTI
    Products.CMFPlone
    Products.PasswordResetTool
    Products.PloneTestCase
    Products.TinyMCE
    icalendar
    plone.app.blob
    plone.app.collection
    plone.app.content
    plone.app.contentrules
    plone.app.contenttypes
    plone.app.customerize
    plone.app.dexterity
    plone.app.event
    plone.app.iterate
    plone.app.layout
    plone.app.linkintegrity
    plone.app.locales
    plone.app.portlets
    plone.app.registry
    plone.app.theming
    plone.app.upgrade
    plone.app.users
    plone.app.z3cform
    plone.app.workflow
    plone.autoform
    plone.dexterity
    plone.event
    plone.formwidget.datetime
    plone.formwidget.recurrence
    plone.i18n
    plone.portlet.collection
    plone.recipe.zeoserver
    plone.recipe.zope2instance
    plone.resourceeditor
    plone.schemaeditor
    plone.supermodel
    plonetheme.classic
    plonetheme.sunburst
    z3c.form
# Test fixes only
    Products.CMFCalendar
    Products.CMFDefault
    archetypes.schemaextender
    plone.app.redirector
    plone.stringinterp
# Code analysis fixes only
